@font-face {
  font-family: myfirstfont;
  src: url(../public/fonts/KOMIKAX_.ttf);
  weight: 400
}
.section {
  position: relative;
  height: 100vh;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  background-color: #39b549;
  .copy {
    h2 {
      position: relative;
      z-index: 1;
      font-family: myfirstfont;
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
      padding-bottom: 60px;
      letter-spacing: 0.1rem;
      line-height: 2rem;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  .text{
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    color: white;
    
  }
  .downarrow {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/images/downarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    z-index: 2;
  }
}
.InteractionBar{
  position: absolute;
  right: 0%;
  height: 50vh;
  bottom: 10%;
  width: 25vw;
  
}
.sectionRed {
  position: relative;
  height: 100vh;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  position: relative;
  background-color: #253a7c;
  .copy {
    h2 {
      position: relative;
      z-index: 1;
      font-family: myfirstfont;
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
      padding-bottom: 60px;
      letter-spacing: 0.1rem;
      line-height: 2rem;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  .text{
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    color: white;
    
  }
  .downarrow {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("/images/downarrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    z-index: 2;
  }
}

